@page
@model FortCode.Models.Address
@{
    <head>
        <title>Add Address</title>
    </head>
    <body>
        <div>
            <label>City:</label>
            <input type="text" />
        </div>
        <div>
            <label>Country:</label>
            <input type="text" />
        </div>
        
        <footer>
            <button type="submit">Add</button>
            <button type="button">Remove</button>
        </footer>
    </body>
}

