@page
@model FortCode.Models.User
@{
    <head>
        <title>User Registration</title>
    </head>
    <body>
        <div>
            <label>Name:</label>
            <input type="text" />
        </div>
        <div>
            <label>Email:</label>
            <input type="text" />
        </div>
        <div>
            <label>Password:</label>
            <input type="text" />
        </div>
        <footer>
            <button type="submit">SignUp</button>
            <button type="button">Cancel</button>
        </footer>
    </body>
}
